@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* sizes */
  .pt-none {
    padding-top: 0px;
  }

  .pb-none {
    padding-bottom: 0px;
  }

  .pt-s {
    padding-top: 20px;
  }

  .pb-s {
    padding-bottom: 20px;
  }

  .pt-m {
    padding-top: 40px;
  }

  .pb-m {
    padding-bottom: 40px;
  }

  .pt-l {
    padding-top: 80px;
  }

  .pb-l {
    padding-bottom: 80px;
  }

  .pt-xl {
    padding-top: 120px;
  }

  .pb-xl {
    padding-bottom: 120px;
  }

  .pt-2xl {
    padding-top: 160px;
  }

  .pb-2xl {
    padding-bottom: 160px;
  }

  .pt-3xl {
    padding-top: 200px;
  }

  .pb-3xl {
    padding-bottom: 200px;
  }

  .pt-4xl {
    padding-top: 250px;
  }

  .pb-4xl {
    padding-bottom: 250px;
  }
}

@layer components {
  .h-scroll::-webkit-scrollbar {
    width: 1px;
    height: 10px;
  }

  .h-scroll::-webkit-scrollbar-thumb {
    @apply border-r-[0px] border-l-[10px] border-solid border-[transparent] bg-amethyst medium:border-r-[60px] medium:border-l-[60px];
    background-clip: padding-box;
  }

  .body-1-small {
    @apply font-overpass text-[19px] leading-[1.6];
  }

  .body-2-small {
    @apply font-overpass text-[16px] leading-[1.6];
  }

  .body-3-small {
    @apply font-overpass text-[12px] leading-[1.6];
  }

  .body-1-large {
    @apply font-overpass text-[21px] leading-[1.6];
  }

  .body-2-large {
    @apply font-overpass text-[16px] leading-[1.6];
  }

  .body-3-large {
    @apply font-overpass text-[12px] leading-[1.6];
  }

  .body-1 {
    @apply body-1-small medium:body-1-large;
  }

  .body-2 {
    @apply body-2-small medium:body-2-large;
  }

  .body-3 {
    @apply body-3-small medium:body-3-large;
  }

  /* HEADERS */

  .header-1-small {
    @apply font-rubik text-[48px] leading-[1];
  }

  .header-2-small {
    @apply font-rubik text-[40px] leading-[1];
  }

  .header-3-small {
    @apply font-rubik text-[33px] leading-[1.1];
  }

  .header-4-small {
    @apply font-rubik text-[28px] leading-[1.3];
  }

  .header-5-small {
    @apply font-rubik text-[23px] leading-[1];
  }

  .header-1-large {
    @apply font-rubik text-[80px] leading-[1];
  }

  .header-2-large {
    @apply font-rubik text-[61px] leading-[1.1];
  }

  .header-3-large {
    @apply font-rubik text-[47px] leading-[1.1];
  }

  .header-4-large {
    @apply font-rubik text-[36px] leading-[1.3];
  }

  .header-5-large {
    @apply font-rubik text-[27px] leading-[1.4];
  }

  .header-1 {
    @apply header-1-small medium:header-1-large;
  }

  .header-2 {
    @apply header-2-small medium:header-2-large;
  }

  .header-3 {
    @apply header-3-small medium:header-3-large;
  }

  .header-4 {
    @apply header-4-small medium:header-4-large;
  }

  .header-5 {
    @apply header-5-small medium:header-5-large;
  }

  .shadow-1 {
    box-shadow: 0px 10px 10px rgba(19, 19, 22, 0.08),
      0px 16px 32px rgba(0, 0, 0, 0.08), 0px 32px 64px rgba(0, 0, 0, 0.04);
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
